{% extends 'base.html' %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="px-4 py-5 my-5 text-center">
            <div class="card text-center">
                <div class="card-header">
                    {{ post.user }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body }}</p>
                    <div class="btn-group">
                        <a href="{% url 'posts' %}" class="btn btn-sm btn-outline-secondary">Go back</a>
                        {% if not user.is_staff and not user.banuser.is_banned %}
                            <a href="{% url 'create-comment' post.id %}" class="btn btn-sm btn-outline-secondary">Comment</a>
                            <form action="{% url 'like_post' post.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="post_id" value="{{ post.id }}"
                                        class="btn btn-sm btn-outline-secondary">Like
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Created before: {{ post.create|timesince }}
                </div>
                <div class="card-footer text-muted">
                    Total likes: {{ total_likes }}
                </div>
            </div>
        </div>
    </div>
    {#    Commetns starts here#}
    {% for comment in post.comments.all %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Comment by: {{ comment.user }}</h5>
                                <h1 class="card-title">{{ comment.description }}</h1>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">{{ comment.create }}</small>
                                    <div class="btn-group">
                                        {% if user == comment.user %}
                                            <a href="{% url 'edit-comment' comment.id %}"
                                               class="btn btn-sm btn-outline-secondary ">Edit</a>
                                            <a href="{% url 'delete-comment' comment.id %}"
                                               class="btn btn-sm btn-outline-secondary ">Delete</a>
                                        {% elif user.is_staff %}
                                            <a href="{% url 'delete-comment' comment.id %}"
                                               class="btn btn-sm btn-outline-secondary ">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'footer.html' %}

{% endblock %}