{% extends 'base.html' %}
{% block content %}
       <div class="album py-5 bg-light">

        <div class="px-4 py-5 my-5 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="#" alt="" width="72" height="57"> -->
            <h1 class="display-5 fw-bold">Welcome {{ user.profile.first_name }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4"></p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'create-post' %}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Write new post</a>
                </div>
            </div>
        </div>

       </div>
{% for post in posts %}
    <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1">

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ post.user }} </h5>
            {% if post.feeling %}
            <h7>feeling {{ post.feeling }} today</h7>
            {% endif %}
              <h1 class="card-title">{{ post.title }}</h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if user == post.user %}
                        <a href="{% url 'detail-post' post.id %}" class="btn btn-sm btn-outline-secondary ">View post</a>
                    <a href="{% url 'update-post' post.id %}" class="btn btn-sm btn-outline-secondary ">Edit</a>
                    <a href="{% url 'delete-post' post.id %}" class="btn btn-sm btn-outline-secondary ">Delete</a>
                        {% else %}
                        <a href="{% url 'detail-post' post.id %}" class="btn btn-sm btn-outline-secondary ">View post</a>
                        <a href="#" class="btn btn-sm btn-outline-secondary ">Follow</a>
                    {% endif %}
                </div>
                <small class="text-muted">{{ post.create }}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
    {% endfor %}
        {% include 'footer.html' %}


{% endblock %}