{% extends 'base.html' %}
{% block content %}
    <div class="album py-5 bg-light">
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 px-4 py-5 my-5">
            <form method="post" action="{% url 'update-post' post.id %}">
                <div class="container">
                     <div class="form-group">
                {% csrf_token %}
                {{ form }}
                     </div>
                <button class="btn btn-primary mt-2" type="submit">Edit</button>
                    <a href="{% url 'posts' %}" class="btn btn-primary mt-2" type="submit">Back</a>
                </div>
            </form>
        </div>

        <div class="col-lg-3"></div>

    </div>
</div>
  </div>

{% endblock %}