<footer class="footer bg-dark text-white ftr">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-0 text-white">Home</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'posts' %}" class="nav-link p-0 text-white">Blog
                            posts</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'journals' %}" class="nav-link p-0 text-white">Journals</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'about' %}" class="nav-link p-0 text-white">About</a>
                        </li>
                        <li class="nav-item mb-2"><a href="{% url 'contact' %}" class="btn btn-primary" type="button">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</footer>